{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if profile.display_picture %}
  <img src="{{ profile.display_picture.url }}" class="responsive-img z-depth-2" id="dp" />
{% else %}
  <img src="{% static 'google_auth/default.jpg' %}" class="circle responsive-img z-depth-2" id="dp" />
{% endif %}

<h3> {{ profile.name }} </h3>
<br>
<a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
<br>
<div class="row">
  <div class="col s12 m6 offset-m3 l4 offset-l4" id="bio">
    <p>{{ profile.bio }}</p>
  </div>
</div>
<a href="{% url 'edit' %}">Edit Details</a>

{% endblock content %}
